  <!-- footer -->
  <footer id="footer" class="app-footer" role="footer">
    <div class="p bg-white text-xs">
  <div class="pull-right hidden-xs hidden-sm text-muted">
    <strong>Seguros la Vitalicia C.A.</strong> R.I.F. J-31020536-1 - &copy; Copyright 2015  
  </div>
  <ul class="list-inline no-margin text-center-xs">
    <li>
      <a href="http://www.kimpus.com" target="_blank">Powered by Kimpus</a>
    </li>
    <li class="text-muted">-</li>    
    
  </ul>
</div>
  </footer>
  <!-- / footer -->