
= link_to '<i class="fa fa-check-circle"></i> Procesar Solicitud'.html_safe, provider_medicaments_confirm_medicament_request_path(:token=>@token, :id=>@medicament_request.id),'data-no-turbolink' => true,  class:"btn btn-success create margin-top-2 margin-left-4", data:{ confirm:"¿Esta seguro de procesar la orden de medicamentos?"}